<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            as="style"
            crossorigin
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css"
    />
    <title>Tiki 인증코드</title>
</head>
<body
        style="
      margin: 0;
      padding: 100px;
      font-family: 'Pretendard Variable', sans-serif;
      background-color: white;
    "
>
<div style="max-width: 600px; margin: 0 auto; padding: 0">
    <img
            src="cid:image"
            alt="tiki_logo"
            style="width: 7rem; height: 2.6rem; object-fit: cover"
    />
    <h1 style="font-size: 28px; font-weight: 600; margin: 60px 0 40px 0">
        이메일 인증 안내
    </h1>
    <span th:text="${name}" style="font-size: 16px; font-weight: 600"></span>
    <span style="font-size: 16px; font-weight: 600">님,</span>
    <br />
    <p style="font-size: 16px; font-weight: 400; margin-bottom: 40px">
        비밀번호 재설정을 위한 인증코드입니다.<br />
        인증코드는 이메일 발송 시점으로부터 3분동안 유효합니다.
    </p>
    <div
            style="
          background-color: #f8f8fb;
          border-radius: 8px;
          padding: 20px;
          margin: 30px 0;
          text-align: center;
        "
    >
        <p style="font-size: 16px; font-weight: 500; margin: 0 0 10px">
            인증코드를 확인해주세요.
        </p>
        <h2
                style="font-size: 40px; font-weight: 600; margin: 0"
                th:text="${code}"
        >
            123456
        </h2>
    </div>
    <div
            style="
          margin-top: 40px;
          border-top: 1px solid #cdcdcd;
          padding-top: 20px;
          text-align: center;
        "
    >
        <p style="font-size: 14px; font-weight: 400; color: #99a1b2">
            TIKI는 국내 대학생과 동아리를 위한 플랫폼입니다.<br />
            동아리 탐색과 문서 관리 및 아카이빙을 지원합니다.
        </p>
    </div>
</div>
</body>
</html>
